@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
:root {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* Primary colors */
  --color-yellow-primary: hsl(49, 85%, 70%);
  --color-green-primary: hsl(140, 63%, 57%);
  --color-blue-primary: hsl(214, 100%, 55%);
  --color-blue-secondary: hsl(210, 100%, 65%);
  --color-red-primary: hsl(354, 63%, 57%);

  /* Neutral colors */
  --color-dark: hsl(0, 0%, 7%);
  --color-gray-ntrl-500: hsl(240, 3%, 46%);
  --color-gray-ntrl-300: hsl(240, 1%, 59%);

  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* colors */
  --color-yellow-primary: var(--color-yellow-primary);
  --color-green-primary: var(--color-green-primary);
  --color-blue-primary: var(--color-blue-primary);
  --color-blue-secondary: var(--color-blue-secondary);
  --color-red-primary: var(--color-red-primary);
  --color-dark: var(--color-dark);
  --color-gray-ntrl-500: var(--color-gray-ntrl-500);
  --color-gray-ntrl-300: var(--color-gray-ntrl-300);

  /* font weights */
  --font-weight-normal: var(--font-weight-normal);
  --font-weight-semibold: var(--font-weight-semibold);
  --font-weight-bold: var(--font-weight-bold);
}

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1 {
    font-size: 2rem;
  }
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
